<section class="footer-container">
    <div class="footer-content">
        <div class="footer-links">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">Contact</a></li>
                <li><a class="secure" href="">Write a post</a></li>
            </ul>
        </div>
        <div class="social-icons">
            <ul>
                <li><a href=" "><span><i class="fab fa-twitter"></i></span></a></li>
                <li><a href=" "><span><i class="fab fa-facebook-square"></i></span></a></li>
                <li><a href=" "><span><i class="fab fa-github"></i></span></a></li>
                <li><a href=" "><span><i class="fab fa-instagram-square"></i></span></a></li>
            </ul>
        </div>
        <div class="to-top">
            <a href=""><i class="fas fa-arrow-up"></i></a>
        </div>
    </div>

</section>