<section class="footer-container">
    <div class="footer-content">
        <div class="footer-links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/contact">Contact</a></li>
                {{#if loggedUser}}
                <li><a class="secure" href="/article/new">Write a post</a></li>
                {{/if}}
            </ul>
        </div>
        <div class="social-icons">
            <ul>
                <li><a href="https://twitter.com/?lang=en"><span><i class="fab fa-twitter"></i></span></a></li>
                <li><a href="https://fb.com"><span><i class="fab fa-facebook-square"></i></span></a></li>
                <li><a href="https://github.com/debashishere/blogging"><span><i class="fab fa-github"></i></span></a>
                </li>
                <li><a href="https://instagram.com"><span><i class="fab fa-instagram-square"></i></span></a></li>
            </ul>
        </div>
        <div class="to-top">
            <a href="#top"><i class="fas fa-arrow-up"></i></a>
        </div>
    </div>

</section>