<header>
    <section class="header-section">
        <div class="nav-left">
            <a href="">logo</a>
            <input class='search' placeholder="Search...">
        </div>
        <div class="nav-right">
            <a href="/auth/google">Sign Up/Sign In</a>
        </div>

    </section>
</header>