<div class="hero_container">
    {{>header}}
    <div class="about_container">
        <div class="about_content">
            <h3>About</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem provident illum unde quis,
                ea recusandae aliquam ratione perspiciatis repellendus. Eligendi. Lorem ipsum dolor sit amet consectetur
                adipisicing elit.
                Soluta cumque recusandae ex totam ab temporibus, odit quisquam minus dolorum repellendus.</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem provident illum unde quis,
                ea recusandae aliquam ratione perspiciatis repellendus. Eligendi. Lorem ipsum dolor sit amet consectetur
                adipisicing elit.
                Soluta cumque recusandae ex totam ab temporibus, odit quisquam minus dolorum repellendus.
                Soluta cumque recusandae ex totam ab temporibus, odit quisquam minus dolorum repellendus.</p>
        </div>
    </div>

    {{>footer}}
</div>