<section class="container">

    <section class="header">
        <div class="logo">
            <a href="">Logo</a>
            <h4>Write a new Post</h4>
        </div>
        <a href="/profile">X</a>
    </section>
    <section class="main">
        <div class="write-post">

        </div>

    </section>

</section>























{{!--
<h3>Add Story</h3>

<div>
    <form action="/new" method="post">
        <div class="">
            <div class="">
                <label for="title"> Title</label>
                <input type="text" id="title" name="title">
            </div>
        </div>

        <div class="">
            <div class="">
                <select id="status" name="status">
                    <label for="title"> Status</label>
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                </select>
            </div>
        </div>

        <div class="">
            <div class="">
                <h5>Tell Us Your Story</h5>
                <textarea id="body" name="body"></textarea>
            </div>
        </div>

        <div class="">
            <button>Submit</button>
            <a herf="/profile">Cancel</a>
        </div>
    </form>
</div> --}}