{{>header}}
<section class="body-container">
    <div class="body-content">
        {{!-- left --}}
        <div class="body-left-container">
            <div class="sign-up-container">
                <div class="sign-up-content">
                    <h4><span>Let's Build</span> a community of amazing developers join us</h4>
                    <p>We're a place where coders share, stay up-to-date and grow their careers.</p>
                </div>
                <a href="/auth/google" class="account-btn">Create new account</a>
            </div>
            <div class="quick-links">
                <a href="">Home</a>
                <a href="/new">Write</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </div>
        </div>

        {{!-- post content --}}
        <div class="post-container">
            <div class="post-top">
                <h2>Posts</h2>
                <div class="post-links">
                    <a href="" class="selected">Feed</a>
                    <a href="">Week</a>
                    <a href="">Month</a>
                    <a href="">Year</a>
                    <a href="">Infinity</a>
                </div>
            </div>
            <div class="post-content">
                {{!-- single card --}}
                <div class="card">
                    <div class="row">
                        <div class="imgBx">
                            <img class="card-img" src="./images/image1.png" alt="Card image cap">
                        </div>
                        <hr>
                        <div class="desc">
                            <div class="user">
                                <div class="user-img">
                                    <img src="./images/thumb.jpg">
                                </div>
                                <div class="user-desc">
                                    <a href="#" class="name"> user name</a>
                                    <a href="#" class="date">Jan 7</a>
                                </div>
                            </div>
                            <div class="card-content">
                                <h3><a href="">40 "Free Forever" Tools for Developers</a></h3>
                                <div class="card-footer">
                                    <div class="f-link">
                                        <div class="reaction-logo">
                                            <p><i class="far fa-heart"></i></p>
                                        </div>
                                        <div class="reaction-count">
                                            <p>223</p>
                                        </div>
                                        <div class="reaction-text">
                                            <p>reactions</p>
                                        </div>
                                    </div>
                                    <div class="f-link">
                                        <div class="reaction-logo">
                                            <p><i class="far fa-comment-alt"></i></p>
                                        </div>
                                        <div class="reaction-count">
                                            <p>4</p>
                                        </div>
                                        <div class="reaction-text">
                                            <p>comments</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {{!-- END single card --}}

                {{!-- single card --}}
                <div class="card">
                    <div class="row">
                        <div class="desc">
                            <div class="user">
                                <div class="user-img">
                                    <img src="./images/thumb.jpg">
                                </div>
                                <div class="user-desc">
                                    <a href="#" class="name"> user name</a>
                                    <a href="#" class="date">Jan 7</a>
                                </div>
                            </div>
                            <div class="card-content">
                                <h3><a href="">40 "Free Forever" Tools for Developers</a></h3>
                                <div class="card-footer">
                                    <div class="f-link">
                                        <div class="reaction-logo">
                                            <p><i class="far fa-heart"></i></p>
                                        </div>
                                        <div class="reaction-count">
                                            <p>223</p>
                                        </div>
                                        <div class="reaction-text">
                                            <p>reactions</p>
                                        </div>
                                    </div>
                                    <div class="f-link">
                                        <div class="reaction-logo">
                                            <p><i class="far fa-comment-alt"></i></p>
                                        </div>
                                        <div class="reaction-count">
                                            <p>4</p>
                                        </div>
                                        <div class="reaction-text">
                                            <p>comments</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {{!-- END single card --}}

            </div>
        </div>

        {{!-- right --}}
        <div class="body-right-container">
            <div class="body-right">
                <div class="resources-container">
                    <div class="resources-card">
                        <div class="row-right">
                            <div class="img-right">
                                <img src="./images/coding.png">
                            </div>
                            <div class="resouces-content">
                                <p>More Contents</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>



    </div>
</section>



{{!-- single post --}}
{{!-- {{#if articles}}
{{#each articles}}
<p>{{this.title}}</p>
<p>{{this.status}}</p>
<p>{{this.body }}</p>
<p>{{user.image }}

    {{/each}}
    {{/if}} --}}