{{>header}}
<section class="body-container">
    <div class="body-content">
        {{!-- left --}}
        <div class="body-left-container">
            <div class="sign-up-card">
                <div class="card-content">
                    <h4>DEV Community is a community of 541,333 amazing developers</h4>
                    <p></p>We're a place where coders share, stay up-to-date and grow their careers.</p>
                    <a class="btn card-btn" href="/auth/google">Account</a>

                </div>
            </div>
            <div class="quick-links">
                <a href="">Home</a>
                <a href="/new">Write</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </div>
        </div>

        {{!-- post content --}}
        <div class="post-container">
            <div class="post-top">
                <h2>Posts</h2>
                <div class="post-links">
                    <a href="">Feed</a>
                    <a href="">Week</a>
                    <a href="">Month</a>
                    <a href="">Year</a>
                    <a href="">Infinity</a>
                </div>
            </div>
            <div class="post">
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
                {{!-- single post --}}
                {{!-- {{#if articles}}
                {{#each articles}}
                <p>{{this.title}}</p>
                <p>{{this.status}}</p>
                <p>{{this.body }}</p>
                <p>{{user.image }}

                    {{/each}}
                    {{/if}} --}}
            </div>
        </div>

        {{!-- right --}}
        <div class="body-right-container">
            <div class="body-right">

            </div>
        </div>

    </div>
</section>

<p>U r Home</p>

<a href="/auth/google">Login with google</a>