* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-container {
    width: 100%;
    height: 100vh;

    background-color: gray;
}

.hero-container .editor-container {
    padding-top: 60px;
    background-color: white;
    width: 100%;
    height: 350px;
}

.hero-container .editor-container #editorjs {
    width: 100%;
    height: 100px;
    background: rgb(213, 243, 233);
}





/* .container
{
    background: rgb(238,240,241);
    height: 100vh;
}
.header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
}
.header a
{
    text-decoration: none;
}
.logo
{
    width: 100%;
    display: flex;
    align-items: center;
}
.main
{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 120px;
}
.write-post
{
    width: 60%;
    height: 200px;
    background: white;
} */