@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}

/* editor js custom padding */
.codex-editor__redactor {
    padding-bottom: 20px !important;
}

.hero-container {
    background-color: #EEF0F1;
    width: 100%;
}

.hero-container .main-container {
    width: 100%;
}

.main-wrapper {
    width: 93%;
    margin: 0 auto;
    padding-top: 57px;
    padding-left: 58px;
    padding-bottom: 40px;
    max-width: 1270px;

}

.fixed-wrapper {
    width: 100%;
    height: 100%;
    transform: translateZ(0);
    position: fixed;
    max-width: 1326px;
}

.hero-container .main-container .main-content {
    width: 67%;
    position: relative;
    margin-top: 15px;
    background-color: white;
    border: 1px solid #d7d9d9;
}

.hero-container .main-container .main-content .post-wrapper {
    width: 100%;
    height: 100%;
    border-bottom: 0.5px solid #EEF0F1;
}

.hero-container .main-container .main-content .cover-imgBx {
    width: 100%;
    height: 300px;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    background: rgb(211, 211, 164);
}

.hero-container .main-container .main-content .cover-imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero-container .main-container .main-content .post-content {
    width: 85%;
    margin: 0 auto;
}

.hero-container .main-container .main-content .post-content .post-title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 1200;
}

.hero-container .main-container .main-content .post-content .writer-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    padding: 15px 0;
}

.hero-container .main-container .main-content .post-content .writer-block .writer-imgBx {
    position: relative;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    overflow: hidden;

}

.hero-container .main-container .main-content .post-content .writer-block .writer-imgBx a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-container .main-container .main-content .post-content .writer-block .writer-desc {
    display: flex;
    padding-left: 7px;
    font-size: 0.85rem;
    color: gray;
}

.hero-container .main-container .main-content .post-content .writer-block .writer-desc .name {
    text-decoration: none;
    padding-right: 15px;
    font-size: 1rem;
    color: black;
}

.hero-container .main-container .main-content .post-content .editor-content {
    width: 100%;
}

/* left content */
.hero-container .main-container .aside-left-content {
    width: 40px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 45px;
    /* background: yellow; */
    z-index: 10;
}

.hero-container .main-container .aside-left-content .reac-container {
    margin-top: 98px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.hero-container .main-container .aside-left-content .reac-container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 33px;
    width: 33px;
    cursor: pointer;
    padding-top: 2.5px;
}

.hero-container .main-container .aside-left-content .reac-container .logo:hover {
    background-color: rgb(243, 219, 219);
    color: tomato
}

.hero-container .main-container .aside-left-content .reac-container .logo.active {
    background-color: rgb(243, 219, 219);
    color: tomato;
}

.hero-container .main-container .aside-left-content .reac-container .reac_count {
    padding-top: 8px;
    font-size: 0.95rem;
}

/* right side content */
.hero-container .main-container .aside-right-content {
    width: 28%;
    height: 300px;
    position: fixed;
    top: 57px;
    right: 40px;
}

.hero-container .main-container .aside-right-content .creator-card {
    background: white;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 15px;
    overflow: hidden;

}

.hero-container .main-container .aside-right-content .creator-card .colored-bar {
    width: 100%;
    height: 30px;
    background-color: black;
    position: relative;
}

.hero-container .main-container .aside-right-content .creator-card .colored-bar .creator-imgBx {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #3a81a5;
    position: absolute;
    top: 15px;
    left: 15px;
    overflow: hidden;
}

.hero-container .main-container .aside-right-content .creator-card .colored-bar .creator-imgBx a img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}

.hero-container .main-container .aside-right-content .creator-card .creator-section {
    /* background: yellow; */
    padding: 8px;
    width: 100%;
}

.hero-container .main-container .aside-right-content .creator-card .creator-section a {
    text-decoration: none;
    display: block;
    color: black;
    padding-left: 58px;
}

.hero-container .main-container .aside-right-content .creator-card .creator-section a h2 {
    font-size: 1.1rem;

}

.login_overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 400;
}

.login_overlay.active {
    display: block;
}

.login_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background: rgb(255, 255, 255);
    padding: 25px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid gray;
    transform: translate();
    z-index: 500;
}

.login_modal.active {
    display: flex;
}

.login_modal .modal_content {
    padding: 20px;
}

.login_modal .close_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.1rem;
    font-weight: lighter;
}

.login_modal .close_container .close_btn {
    padding: 5px 10px;
    color: rgb(83, 83, 83);
    cursor: pointer;
    border-radius: 5px;
}

.login_modal .close_container .close_btn:hover {
    background: rgb(241, 240, 240);
}

.login_modal h3 {
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.015rem;
    padding-top: 8px;
    padding-bottom: 15px;
}

.login_modal p {
    font-size: 0.95rem;
    padding-bottom: 30px;
}

.login_modal a {
    display: block;
    text-decoration: none;
    color: rgb(255, 248, 248);
    background: rgb(64, 73, 201);
    padding: 10px 20px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 5px;
}

.login_modal a:hover {
    background-color: rgb(42, 50, 167);
}

@media (min-width: 1300px) {
    .fixed-wrapper {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 1250px) {
    .hero-container .main-container .aside-right-content {
        right: 29.5px;
    }
}

@media (max-width: 1120px) {
    .hero-container .main-container .aside-right-content {
        right: 25px;
    }
}

@media (max-width: 1024px) {
    .hero-container .main-container .aside-right-content {
        display: none;
    }

    .hero-container .main-container .aside-left-content {
        left: 20px;
    }

    .hero-container .main-container .main-content {
        width: 100%;

    }

    .main-wrapper {
        margin-left: 18px;
        width: 97.5%;
    }
}

@media (max-width: 500px) {
    .login_modal {
        padding: 10px;
        width: 95%;
    }

    .login_modal .modal_content {
        padding: 10px;
    }

}


@media (max-width: 767px) {
    .main-wrapper {
        width: 100%;
        margin-left: 0;
        padding-left: 0;
    }

    .hero-container .main-container .main-content {
        margin-top: 0;
    }

    .fixed-wrapper {
        position: absolute;
        height: 50px;
        width: 50px;
        top: 50px;
        z-index: 20;
    }

    .hero-container .main-container .aside-left-content {
        left: 10px;
        top: 5px;
    }

    .hero-container .main-container .aside-left-content .reac-container {
        margin-top: 10px;
        color: rgb(19, 19, 19);
    }

}