@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}
.hero-container
{
    width: 100%;
    background-color: #EEF0F1;
    min-height: 100vh;
}
.hero-container .hero-title
{
    width: 20%;
    padding-top: 80px;
    padding-bottom: 25px;
    margin: 0 auto;
    text-align: center;
}
.hero-container .hero-title h2
{
    font-size: 1.7rem;
}
.hero-container .status-container
{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-container .status-container .status-card
{
    width: 30%;
    background-color: #fcfcfc;
    border-radius: 5px;
    padding: 15px;
}
.hero-container .status-container .status-card .count
{
    font-size: 1.6rem;
    font-weight: 600;
    padding: 5px;
}
.hero-container .status-container .status-card  .text
{
    font-size: 0.86rem;
    color: gray;
    padding: 5px;
}
.hero-container .status-container .status-card:not(:last-child)
{
    margin-right: 15px;
}
.hero-container .post-container
{

    padding-top: 30px;
    width: 55%;
    margin: 0 auto;
}
.hero-container .post-container .post-header
{
    width: 100%;
    padding: 10px 0;
}
.hero-container .post-container .post
{
    width: 100%;
    background-color: white;
    margin-top: 15px;
    border-radius: 5px;
    padding: 15px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-container .post-container .post .post-content a
{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    color: rgb(68, 75, 173);
    display: block;
    padding-bottom: 5px;
}
.hero-container .post-container .post .post-content p 
{
    font-size: 0.82rem;
    letter-spacing: 0.01rem;
    color: gray;
}
.hero-container .post-container .post .post-content p  span
{
    font-weight: 500;
    color: rgb(88, 88, 88);
}
.hero-container .post-container .post  .post-actions a
{
    font-size: 1rem;
    font-weight: 700;
    color: red;
}
.hero-container .post-container .post  .post-actions a:not(:last-child)
{
    /* display: block; */
    margin-right: 17px;
    color: rgb(19, 145, 19);
}