* {
    font-family: "Segoe UI", Roboto;
}

.header-section {
    width: 100%;
    height: 56px;
    position: fixed;
    top: 0;
    z-index: 200;
    background-color: white;
    border-bottom: 1px solid rgb(216, 214, 214);
}

.header-wrapper {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5px 3%;
    border-bottom: 1px solid rgb(216, 214, 214);
    z-index: 1;
    max-width: 1350px;
    /* center it */
    left: 50%;
    transform: translateX(-50%);
}

.header-section .nav-left {
    display: flex;
    align-items: center;
    position: relative;
}

.header-section .nav-left .logo {
    font-size: 2.5rem;
    color: #070C34;
}

.header-section .nav-left .search {
    margin-left: 15px;
    height: 35px;
    width: 380px;
    border-radius: 5px;
    border: 1px solid rgb(184, 184, 184);
    background-color: rgb(244, 245, 247);
    outline: none;
    padding-left: 10px;
}

.header-section .nav-left .search:focus {
    border: 1.5px solid rgb(103, 71, 161);
}

.header-section .nav-right {
    display: flex;
    align-items: center;
}

.header-section .nav-right .nav-right-link {
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 0.89rem;
    letter-spacing: 0.05rem;
    text-align: center;
    color: white;
    background-color: rgb(68, 75, 173);
    border-radius: 5px;
    font-weight: 550;
}

.header-section .nav-right .nav-right-link:hover {
    background-color: rgb(42, 50, 167);
}

/* nav user card dropdown */
.dropdown {
    position: relative;
}

.dropdown-imgBx {
    height: 33px;
    width: 33px;
    border-radius: 50%;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

.dropdown-imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropdown .dropdown-menu {
    display: block;
    width: 230px;
    position: absolute;
    top: 44px;
    right: 5px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.7);
    background: white;
    list-style-type: none;
    padding: 8px;
    transform: scale(0);
    transition: 0.3s ease-in-out;
    transition-delay: 0.2s;
}

.dropdown:hover .dropdown-menu {
    display: block;
    transform: scale(1);
}

.dropdown .dropdown-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 1rem;
    color: rgb(61, 60, 60);
    font-weight: 500;
}

.dropdown .dropdown-menu .bolder {
    font-weight: 550;
}

.dropdown .dropdown-menu li a:hover {
    background: rgb(233, 230, 230);
    color: blue;
}

.dropdown .dropdown-menu li:first-child a {
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: 0.016rem;
    color: rgb(12, 11, 11);
}

.navigation {
    display: none;
}

@media (max-width: 1164px) {
    .header-wrapper {
        padding-left: 20px;
        padding-right: 24px;
    }

}

@media (max-width: 767px) {
    .header-section {
        padding-left: 15px;
    }

    .search {
        display: none;
    }

    .overlay.active {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 5;
    }

    .menuToggle {
        position: relative;
        width: 28px;
        height: 28px;
        margin-right: 15px;
        background: url(../images/menu.png);
        background-size: 23px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        filter: invert(1);
        /* background-color: yellow; */
    }

    .navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: start;
        background-color: white;
        border: 0.5px solid rgb(240, 238, 238);
        z-index: 100;
    }

    .navigation ul {
        list-style-type: none;
    }

    .navigation ul li a {
        text-decoration: none;
    }

    .title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgb(216, 214, 214);
        padding: 16px 20px;

    }

    .title img {
        filter: invert(1);
        height: 13px;
        width: 13px;
    }

    .title h3 {
        letter-spacing: 0.03rem;
    }

    .navigation ul {
        width: 100%;
        padding: 22px;
    }

    .navigation ul li a {
        display: block;
        padding: 5px 15px;
        background: rgb(241, 240, 240);
        border-radius: 5px;
        margin-bottom: 6px;
        border: 1px solid rgb(241, 239, 239);
        color: rgb(97, 96, 96);
    }

    .navigation ul li a:hover {
        color: rgb(103, 71, 161);
        border: 1px solid rgb(192, 190, 190);
        background: rgb(215, 215, 216);
    }
}

@media (max-width: 330px) {
    .navigation.active {
        width: 90%;
    }
}