* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto;
}

.body-container {
    width: 100%;
    background-color: #EEF0F1;
    padding-top: 58px;
    padding-bottom: 30px;
}

.body-content {
    width: 100%;
    height: 100%;
}

.body-wrapper {
    width: 100%;
    min-height: 89.5vh;
    margin: 0 3.1rem;
    padding-top: .8rem;
    padding-left: 35px;
    padding-right: 28px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.post-container {
    width: 54%;
    min-height: 85vh;
    margin: 0 auto;
}

.post-container .post-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-right: 5px;
}

.post-container .post-top h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.post-container .post-top .post-links a {
    text-decoration: none;
    padding: 6px 8px;
    border-radius: 5px;
    font-size: 0.9rem;
    letter-spacing: 0.02rem;
}

.post-container .post-top .post-links a:hover {
    background-color: rgb(217, 233, 224);
    color: rgb(6, 65, 11);
}

.active {
    font-weight: 700;
    color: rgb(10, 92, 23);
    border: 1px solid rgb(238, 57, 57);
}

.body-container .body-content .post-container .post-content {
    display: flex;
    flex-direction: column;
}

/* left container */
.body-left-container {
    width: 20%;
    margin-right: 15px;
}

.sign-up-container {
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px 15px;
    border: 1px solid #d7d9d9;

}

.sign-up-container .sign-up-content {
    width: 100%;
}

.sign-up-container .sign-up-content h4 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.sign-up-container .sign-up-content h4 span {
    color: rgb(16, 27, 190);
    font-size: 1.1rem;
    font-weight: 750;
}

.sign-up-container .sign-up-content p {
    margin-top: 10px;
    font-size: 0.9rem;
    line-height: 1.5rem;
    letter-spacing: 0.01rem;
}

.sign-up-container .account-btn {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 9px 0;
    margin-top: 15px;
    font-size: 0.89rem;
    letter-spacing: 0.02rem;
    text-align: center;
    color: white;
    background-color: rgb(68, 75, 173);
    border-radius: 5px;
    font-weight: 550;
}

.sign-up-container .account-btn:hover {
    background-color: rgb(42, 50, 167);
}

.quick-links {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

}

.quick-links a {
    text-decoration: none;
    display: block;
    padding: 8px;
    padding-left: 20px;
    border-radius: 5px;
    font-size: 0.95rem;
    color: black;
    letter-spacing: 0.02rem;
}

.quick-links .selected {
    background-color: #dddbdb;
}

.quick-links a:hover {
    background-color: #dddbdb;
    color: rgb(103, 86, 255);
}

/* main section */
.card {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 15px;
    overflow: hidden;
    border: 1px solid #d7d9d9;
}

.card .row {
    position: relative;
    width: 100%;
}

.card .row .imgBx {
    position: relative;
    width: 100%;
    height: auto;
    height: 250px;
}

.card .row .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .row .desc {
    padding-bottom: 15px;
}

.card .row .desc .user {
    display: flex;
    align-items: center;
    /* background-color: yellow; */
    width: 100%;
    padding: 13px 13px;
}

.card .row .desc .user .user-img {
    height: 33px;
    width: 33px;
    border-radius: 50%;
    background-color: rgb(126, 207, 167);
    margin-left: 0px;
    overflow: hidden;
    position: relative;
}

.card .row .desc .user .user-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.card .row .desc .user .user-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 6px;

}

.card .row .desc .user .user-desc a {
    text-decoration: none;
    color: #5f5f5f;
    font-size: 0.75rem;
    line-height: 1rem;
    margin: 0;
    padding: 0;
}

.card .row .desc .user .user-desc .name {
    font-weight: 550;
    font-size: 0.85rem;
    letter-spacing: 0.018rem;
    /* padding-bottom: 3px; */
    color: rgb(102, 101, 101);
}

.card .row .card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 50px;
}

.card .row .card-content h3 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.9rem;
}

.card .row .card-content h3 a {
    text-decoration: none;
    color: black;
}

.card .row .card-content h3 a:hover {
    color: rgb(68, 75, 173);
}

.card .row .card-content .card-footer {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.card .row .card-content .card-footer a {
    text-decoration: none;
    margin-right: 2px;
    color: rgb(61, 61, 61);
    font-size: 0.80rem;
    letter-spacing: 0.013rem;
    padding: 6px 10px;
    border-radius: 5px;
}

.card .row .card-content .card-footer a:hover {
    background-color: rgb(240, 236, 236);
}

.card .row .card-content .card-footer a span i {
    padding-right: 6px;
    color: #747475;
    font-size: 0.85rem;
}

.card .row .card-content .card-footer a .count {
    padding-right: 4px;
    font-size: 0.79rem;
}

/* right container */
.body-right-container {
    width: 25%;
}

.body-right-container .resources-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 10px;
}

.body-right-container .resources-container .resources-card {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.body-right-container .resources-container .resources-card .row-right {
    width: 100%;
}

.body-right-container .resources-container .resources-card .row-right .img-right {
    position: relative;
    width: 100%;
    height: 160px;
}

.body-right-container .resources-container .resources-card .row-right .img-right img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}

.overlay {
    display: none;
}

@media (min-width: 1360px) {
    .body-wrapper {
        max-width: 1326px;
    }
}

@media (max-width: 1100px) {

    .body-left-container {
        width: 22%;
    }

    .body-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-wrapper {
        padding-left: 10px;
        padding-right: 24px;
    }

}


@media (max-width: 1030px) {
    .body-right-container {
        display: none;
    }

    .post-container {
        width: 70%;
    }

    .body-left-container {
        width: 27%;
    }
}

@media (max-width: 767px) {
    .post-container .post-top {
        padding-left: 15px;
    }

    .body-left-container {
        display: none;
    }

    .body-wrapper {
        margin-right: 0;
        margin-left: 0;
    }

    .card {
        border-radius: 0;
        width: 100%;
    }

    .post-container {
        width: 100%;
    }


}

@media (max-width: 767px) {
    .body-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .card .row .card-content a .f-link .reaction-text {
        display: none;
    }
}