<section class="hero-container">
    {{!-- {{>header}} --}}
    <div class="editor-container">
        <div id="editorjs"></div>
    </div>

</section>


{{!--
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@2.6.0/dist/bundle.min.js" async defer></script> --}}
{{!-- <section class="main">
    <div class="write-post">

        <form action="/article/new" method="post" enctype="multipart/form-data">
            <div class="">
                <div class="">
                    <label for="image">Upload a Cover Image</label>
                    <input type="file" id="cover-image" name="cover-image">
                </div>
            </div>
            <div class="">
                <div class="">
                    <label for="title"> Title</label>
                    <input type="text" id="title" name="title">
                </div>
            </div>

            <div class="">
                <div class="">
                    <select id="status" name="status">
                        <label for="title"> Status</label>
                        <option value="public" selected>Public</option>
                        <option value="private">Private</option>
                    </select>
                </div>
            </div>
            <div class="">
                <div class="">
                    <h5>Tell Us Your Story</h5>
                    <textarea id="text" name="text"></textarea>
                </div>
            </div>

            <div class="">
                <button>Submit</button>
                <a herf="/profile">Cancel</a>
            </div>
        </form>
    </div>

</section> --}}